.anni {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.ani1 {
  transition: transform 330ms ease-in-out;
}
.haut1 {
  position: fixed;
}

.cloche {
  width: 84px;
  height: 40px; /* as the half of the width*/
  z-index: -1;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /*100px of height + 10px of border */
  border: 3px solid black;
  border-bottom: 0;
  /* box-sizing: border-box;*/
  transform: rotate(0deg);
  position: relative;
  display: inline-block;
  top: -37px;
  left: 10px;
}

.poignee1 {
  width: 2px;
  background-color: white;
  height: 4px;
  border-radius: 50%;
  border: solid black 2px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  left: 39px;
  bottom: 42px;
}
.poignee2 {
  width: 7px;
  background-color: white;
  height: 7px;
  border-radius: 50%;
  border: solid black 2px;
  position: absolute;
  opacity: 1;
  z-index: 0;
  bottom: 41px;
  left: 38px;
}

.plat {
  width: 105px;
  height: 6px; /* as the half of the width */
  border: 3px solid black;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  position: relative;
  border-bottom: 0;
  /* box-sizing: border-box;*/
  transform: rotate(-180deg);
}

.ani2 {
  transition: transform 330ms ease-in-out;
}
.haut2 {
  position: fixed;
}
.haut:hover {
  transform: translateY(-20px);
}
.cloche {
  width: 84px;
  height: 40px; /* as the half of the width */
  z-index: -1;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 3px solid black;
  border-bottom: 0;
  /* box-sizing: border-box;*/
  transform: rotate(0deg);
  position: relative;
  display: inline-block;
  top: -37px;
  left: 10px;
}

.poignee1 {
  width: 2px;
  background-color: white;
  height: 4px;
  border-radius: 50%;
  border: solid black 2px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  left: 39px;
  bottom: 42px;
}
.poignee2 {
  width: 7px;
  background-color: white;
  height: 7px;
  border-radius: 50%;
  border: solid black 2px;
  position: absolute;
  opacity: 1;
  z-index: 0;
  bottom: 41px;
  left: 38px;
}

.plat {
  width: 105px;
  height: 6px; /* as the half of the width */
  border: 3px solid black;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  position: relative;
  border-bottom: 0;
  /* box-sizing: border-box;*/
  transform: rotate(-180deg);
}

.ani3 {
  transition: transform 330ms ease-in-out;
}
.haut3 {
  position: fixed;
}
.haut:hover {
  transform: translateY(-20px);
}
.cloche {
  width: 84px;
  height: 40px; /* as the half of the width */
  z-index: -1;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 3px solid black;
  border-bottom: 0;
  /* box-sizing: border-box;*/
  transform: rotate(0deg);
  position: relative;
  display: inline-block;
  top: -37px;
  left: 10px;
}

.poignee1 {
  width: 2px;
  background-color: white;
  height: 4px;
  border-radius: 50%;
  border: solid black 2px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  left: 39px;
  bottom: 42px;
}
.poignee2 {
  width: 7px;
  background-color: white;
  height: 7px;
  border-radius: 50%;
  border: solid black 2px;
  position: absolute;
  opacity: 1;
  z-index: 0;
  bottom: 41px;
  left: 38px;
}

.plat {
  width: 105px;
  height: 6px; /* as the half of the width */
  border: 3px solid black;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  position: relative;
  border-bottom: 0;
  /* box-sizing: border-box;*/
}

.haut {
  transform-origin: right;
}

.haut1 {
  animation: haut1 3000ms 150ms forwards ease-in-out;
}
.haut2 {
  animation: haut2 3000ms 300ms;
}

.haut3 {
  animation: haut3 3000ms 450ms;
}

/* ok */
.pageload {
  background-color: rgba(255, 255, 255, 0.2);
  animation: hideafter3s 3s forwards;
}

nav {
  width: 60%;
  height: 20px;
  border: 2px solid black;
  display: flex;
  margin: auto;
  border-radius: 15px;
  margin-top: 300px;
}

.barre {
  width: 100%;
  height: 20px;
  border-radius: 15px;
  transform-origin: left;
  background-color: #ff79da;
  transform: scaleX(1);
  animation-fill-mode: backwards;
  opacity: 0;
  animation: barrre 3000ms 150ms;
}
.barre:active {
  animation: barrre 1000ms;
}
.haut:active {
  animation: haut1 haut2 haut3 1000ms;
}

@keyframes barrre {
  0% {
    transform: scaleX(0);
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes haut1 {
  100% {
    transform: translateY(-40px) rotate(20deg);
  }
}
@keyframes haut2 {
  0% {
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    transform: translateY(-40px) rotate(-45deg);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes haut3 {
  0% {
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    transform: translateY(0px) rotate(-45deg);
  }
  100% {
    transform: translateY(-40px);
  }
}
@keyframes hideafter3s {
  80% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
